@import './reset';

@function rem($px) {
  @return $px / 100 * 1rem;
}

body {
  div {
    width: rem(100);
    height: rem(100);
    background: red;
    font-size: rem(20);
  }

  .btn {
    width: rem(529);
    height: rem(250);
    background: lightblue;
    transform: translateX(100%);
    background: url(../img/no-data.png) no-repeat 100%;
  }
}
